// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";
@import "patterns/progress-bar";

.govuk-skip-link {
    display: none;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: white;
}



.ec-column {
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    float: left;
}

.ec-column-40 {
    @extend .ec-column;

    @media (min-width: 750px) {
        width: 40%;
    }
}

.ec-column-30 {
    @extend .ec-column;

    @media (min-width: 750px) {
        width: 30%;
    }
}

$grey-3: #dee0e2 ;

.ec-content-section {
    margin-bottom: 40px;

    .ec-content-section-content {
        padding-left: 20px;
        border-left: 3px solid $grey-3;
    }

    h2 {
        font-size: 28px !important;
        font-weight: bold;
        padding: 10px 0;
        border-bottom: 1px solid $grey-3;

        @media(desktop) {
            margin-top: 1.8em !important;
        }
    }

    h3 {
        margin-bottom: 20px;
        font-size: 22px;
        font-weight: bold;
        background-color: $grey-3;
        padding: 15px 20px;
        border-radius: 5px;
    }

}

