{% extends "live.html" %}


{% block pageTitle %}
{{serviceName}} - Home
{% endblock %}





{% block content %}



<div>
    <div><h2 class="heading-medium">Explore by job category</h2></div>

</div>    
<ul class="homepage-jobcategories">
    <li><a href="/job-categories/administration">Administration</a></li>
    <li><a href="/job-categories/animal-care">Animal care</a></li>
    <li><a href="/job-categories/beauty-and-wellbeing">Beauty and wellbeing</a></li>
    <li><a href="/job-categories/business-and-finance">Business and finance</a></li>
    <li><a href="/job-categories/computing-technology-and-digital">Computing, technology and digital</a></li>
    <li><a href="/job-categories/construction-and-trades">Construction and trades</a></li>
    <li><a href="/job-categories/creative-and-media">Creative and media</a></li>
    <li><a href="/job-categories/delivery-and-storage">Delivery and storage</a></li>
    <li><a href="/job-categories/emergency-and-uniform-services">Emergency and uniform services</a></li>
    <li><a href="/job-categories/engineering-and-maintenance">Engineering and maintenance</a></li>
    <li><a href="/job-categories/environment-and-land">Environment and land</a></li>
    <li><a href="/job-categories/government-services">Government services</a></li>
    <li><a href="/job-categories/healthcare">Healthcare</a></li>
    <li><a href="/job-categories/home-services">Home services</a></li>
    <li><a href="/job-categories/hospitality-and-food">Hospitality and food</a></li>
    <li><a href="/job-categories/law-and-legal">Law and legal</a></li>
    <li><a href="/job-categories/managerial">Managerial</a></li>
    <li><a href="/job-categories/manufacturing">Manufacturing</a></li>
    <li><a href="/job-categories/retail-and-sales">Retail and sales</a></li>
    <li><a href="/job-categories/science-and-research">Science and research</a></li>
    <li><a href="/job-categories/social-care">Social care</a></li>
    <li><a href="/job-categories/sports-and-leisure">Sports and leisure</a></li>
    <li><a href="/job-categories/teaching-and-education">Teaching and education</a></li>
    <li><a href="/job-categories/transport">Transport</a></li>
    <li><a href="/job-categories/travel-and-tourism">Travel and tourism</a></li>
</ul>











{% endblock %}
