{% extends "live.html" %}


{% block pageTitle %}
{{serviceName}} - Home
{% endblock %}





{% block content %}

<div class="content-container">
    <div class="grid-row">
        <div class="column-two-thirds">
            <section class="ec-content-section">
                <h2 class="heading-large">Main section heading</h2>
                <p>Content text</p>
                <section>
                    <h3>Secondary section heading</h3>
                    <div class="ec-content-section-content">
                        <h4>Tertiary section heading</h4>
                        <p>Content text</p>
                    </div>
                </section>
            </section>
        </div>
    </div>
</div>







    {% endblock %}
