{% extends "live.html" %}


{% block pageTitle %}
{{serviceName}} - Home
{% endblock %}





{% block content %}



<header class="job-profile-hero">
    <div data-sf-element="Row">
        <div id="MainContentTop_T41A29498007_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Job Profile Hero Container">
            <div class="content-container">
                <div class="breadcrumbs">
                    <ol>
                        <li><a href="/">Explore careers home</a></li>
                        <li>Accounting technician</li>
                    </ol>
                </div>
            </div>
            <div class="content-container">
                <div class="grid-row">
                    <div class="column-desktop-two-thirds">
                        <h1 class="heading-xlarge"> Accounting technician</h1>

                        <p>Accounting technicians handle day-to-day financial matters in all types of business.</p>
                    </div>
                </div>
                <div class="grid-row">
                    <div id="Salary" class="column-40 job-profile-heroblock">
                        <h2>
                            Average salary
                            <span>(a year)</span>
                            <a href="/help/information-sources">What does this mean?</a>
                        </h2>
                        <div class="job-profile-salary job-profile-heroblock-content">
                            <p class="dfc-code-jpsstarter">&pound;,040 <span>Starter</span></p>
                            <i class="sr-hidden">to</i>
                            <p class="dfc-code-jpsexperienced">&pound;47,840 <span>Experienced</span></p>
                        </div>
                    </div>
                    <div id="WorkingHours" class="column-30 job-profile-heroblock">
                        <h2>Typical hours <span>(a week)</span></h2>
                        <div class="job-profile-hours job-profile-heroblock-content">
                            <p class="dfc-code-jphours">
                                37 to 39                    <span class="dfc-code-jpwhoursdetail">a week</span>
                            </p>
                        </div>
                    </div>
                    <div id="WorkingHoursPatterns" class="column-30 job-profile-heroblock">
                        <h2>
                            You could work
                        </h2>
                        <div class="job-profile-pattern job-profile-heroblock-content">
                            <p class="dfc-code-jpwpattern">
                                between 8am and 6pm
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>


{% endblock %}
