{% extends "live.html" %}


{% block pageTitle %}
{{serviceName}} - Home
{% endblock %}





{% block content %}


<p></p>
<nav aria-label="skip to your documents" class="jump-links" role="navigation">
    <ol class="list list-number">
        <li><a href="#HowToBecome">How to become</a></li>
        <li><a href="#Skills">What it takes</a></li>
        <li><a href="#WhatYouWillDo">What you'll do</a></li>
        <li><a href="#CareerPathAndProgression">Career path and progression</a></li>
        <li><a href="#current-opportunities">Training opportunities</a></li>
    </ol>
</nav>






{% endblock %}
