{% extends "live.html" %}

{% block pageTitle %}
{{serviceName}} - Home
{% endblock %}

{% block content %}

  <fieldset class="govuk-fieldset app-question app-question--short" id="question">

    <div class="govuk-fieldset__legend govuk-fieldset__legend--l app-question__question">
      <h1 class="govuk-fieldset__heading" aria-hidden="true">
        Question text
      </h1>
    </div>

    <div class="app-question__answer govuk-radios govuk-radios--inline">

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="selected_answer-1" name="selected_answer" type="radio" checked="" value="StronglyAgree">
        <label class="govuk-label govuk-radios__label" for="selected_answer-1">
          Strongly Agree
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="selected_answer-2" name="selected_answer" type="radio" checked="" value="Agree">
        <label class="govuk-label govuk-radios__label" for="selected_answer-2">
          Agree
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="selected_answer-5" name="selected_answer" type="radio" checked="" value="Neutral">
        <label class="govuk-label govuk-radios__label" for="selected_answer-5">
          Neutral
        </label>
      </div>


      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="selected_answer-3" name="selected_answer" type="radio" checked="" value="Disagree">
        <label class="govuk-label govuk-radios__label" for="selected_answer-3">
          Disagree
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="selected_answer-4" name="selected_answer" type="radio" checked="" value="StronglyDisagree">
        <label class="govuk-label govuk-radios__label" for="selected_answer-4">
          Strongly Disagree
        </label>
      </div>

    </div>

  </fieldset>

{% endblock %}
